@charset "utf-8";

/* layout common */
body.is-fixed {overflow:hidden;}
html, body {min-width:320px;line-height:1.4}
.theme-dark {background:#272727; color:#fff;}
.header {background:#000;padding:0 10px}
.main {min-height:100vh;padding:0 10px}
.header .inner,
.main .content,
.footer .inner{width:100%;max-width:1024px;margin:0 auto;}
.header .inner {padding:14px 0;font-size:0;line-height:1;}
.main.is-wide {padding:0;overflow:hidden;}
.main.is-wide .content {width:100%;max-width:100%;}
.main.is-wide .content > .inner {padding:0;}
.footer {}
.dimmed {position:fixed;top:0;left:0;width:100%;height:100%;background: rgba(0,0,0,.3);z-index:10;}
.blind {position:absolute;width:1px;height:1px;border:0;clip:rect(1px, 1px, 1px, 1px);overflow:hidden;z-index:-1;}

/* scroll bar */
/* width */
::-webkit-scrollbar {width:3px;}
/* Track */
::-webkit-scrollbar-track {background: #272727;}
/* Handle */
::-webkit-scrollbar-thumb {background: #888;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555;}

/* title */
h1 {font-size:24px;font-weight:bold;line-height:1.4;}
h1.title {position:relative;text-align:center;padding:20px 0;}
h1.title a {position:absolute;right:0;top:50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);font-size:14px;}
h1.title span.sub-desc {display:inline-block;margin-left:10px;font-size:14px;color:#999;}

.sub-desc{font-size:14px;font-weight:400;color:#999;line-height:1.4;}
.tit > span:first-child {line-height:1.6;vertical-align:top;}
.tit > .tit-desc {font-weight:400;color:#ccc;margin-left:10px;word-break: keep-all;line-height:1;vertical-align: middle;}
h1.tit{font-size:22px;font-weight:900;}
h2.tit{font-size:20px;font-weight:900;}
h3.tit{font-size:18px;font-weight:600;}
h4.tit{font-size:16px;font-weight:600;}
h5.tit{font-size:14px;font-weight:400;}
h6.tit{font-size:14px;font-weight:200;}

h1.tit .tit-desc {font-size:16px;}
h2.tit .tit-desc {font-size:16px;}
h3.tit .tit-desc {font-size:14px;}
h4.tit .tit-desc {font-size:14px;}
h5.tit .tit-desc {font-size:12px;}
h6.tit .tit-desc {font-size:12px;}

h2 {font-size:20px;font-weight:bold;line-height:1.4}
h2.title {position:relative;color: #197759;margin-bottom:20px;}
h2.sub-title {text-align:center;padding:10px 0;border-top:1px dashed #ddd;}
h3 {font-size:16px;font-weight:bold;line-height:1.4;}
h3.sub-title {margin-bottom:10px;}
h3.title-desc {margin-bottom:10px;}
.editer-wrap + h3.sub-title {margin-top:20px;}
.title.rect-type {padding-left:12px;}
.title.rect-type:after {content:'';position:absolute;left:2px;top:11px;width:5px;height:5px;background:#000;}
.title.circle-type {padding-left:12px;}
.title.circle-type:after {content:'';position:absolute;left:2px;top:13px;width:4px;height:4px;background:#000;border-radius:50%;}
.title + .desc {margin-bottom:20px;font-size:14px;color:#aaa;}

/* list */
.d-list li,
.c-list li {position:relative;padding-left:12px;line-height:1.4;}
.c-list li + li,
.d-list li + li {margin-top:5px;}
.d-list li:before{content:'';position:absolute;top:10px;left:2px;width:4px;height:1px;background:#000;}
.c-list li:before{content:'';position:absolute;top:50%;transform:translateY(-50%);left:2px;width:3px;height:3px;background:#000;border-radius:50%}

.desc-list dt {position:relative;font-size:.9rem;padding:0 30px 0 0;}
.desc-list dd {font-size:.7rem;}
.desc-list dt + dd ,
.desc-list dd + dd {margin-top:10px;}
.desc-list dd + dt {margin-top:30px;}
.desc-list dt + dd {border-top:1px dotted #555;border-bottom:1px dotted #555;}
.desc-list .link-set {color:#fff;}
.desc-list .toggle-box.is-show {padding:10px;background:#444c3a}
.desc-list .icon{margin-right:10px;}
.desc-list .colorscripter-code {margin-top:20px;}
.desc-list .colorscripter-code > table {width:100%;}

.theme-dark .d-list li:before,
.theme-dark .c-list li:before {background:#fff;}

.editer-wrap {background:#404040;padding:20px;color:#efefef;font-weight:100;}
.editer-wrap ul li {line-height:1.4;font-size:12px;word-break:break-all}
.editer-wrap ul li + li {margin-top:5px;}
.editer-wrap ul li.remark {color:#808080;}
.editer-wrap span.name {color: #efcf28;margin-right:5px;}
.editer-wrap span.data {color: #7bd700}
.editer-wrap span.important {color: #f76b00;font-weight:bold;}

/* toggle */
.toggle-btn {position:absolute;top:50%;right:0;width:20px;height:20px;transform:translateY(-50%);background: transparent;font-size:0;border:0;}
.toggle-btn::before,
.toggle-btn::after {content:'';position:absolute;top:50%;left:50%;width:5px;height:100%;transition: transform .2s ease-in-out, background .2s ease-in-out;background:#fff;border-radius: 2px;}
.toggle-btn::before {transform: translate(-50%, -50%) rotate(90deg);}
.toggle-btn::after {transform: translate(-50%, -50%) rotate(0deg);}
.toggle-btn.is-on::before,
.toggle-btn.is-on::after {transition: transform .2s ease-in-out,rotate .2s ease-in-out,  background .2s ease-in-out}
.toggle-btn.is-on::before {transform: translate(-50%, -50%) rotate(45deg);background:#7bd700}
.toggle-btn.is-on::after {transform: translate(-50%, -50%) rotate(-45deg);background:#7bd700}
.toggle-btn.type2.is-on::before,
.toggle-btn.type2.is-on::after {transition: transform .2s ease-in-out,rotate .2s ease-in-out,  background .2s ease-in-out}
.toggle-btn.type2.is-on::before {transform: translate(-50%, -50%) rotate(90deg);background:#ffcd00}
.toggle-btn.type2.is-on::after {transform: translate(-50%, -50%) rotate(-90deg);background:#ffcd00}

.toggle-box {height:0;overflow: hidden;padding:0;margin:0;}
.toggle-box.is-show {height:auto;}

/* background-color */
.bg-white {background:#fff !important;}

/* font-color */
.fc-blue{color: #4eadff !important}
.fc-yellow{color: #ffdc00 !important}
.fc-red{color: #ff3f00 !important}
.fc-grey{color:#9A9A9A !important}
.fc-black{color: #303030 !important}
.fc-white{color:#fff !important}
.fc-orange {color: #ff6a00 !important}

/* font-size */
.fs12 {font-size:12px !important}
.fs13 {font-size:13px !important}
.fs14 {font-size:14px !important}
.fs15 {font-size:15px !important}
.fs16 {font-size:16px !important}
.fs17 {font-size:17px !important}
.fs18 {font-size:18px !important}
.fs19 {font-size:19px !important}
.fs20 {font-size:20px !important}
.fs21 {font-size:21px !important}
.fs22 {font-size:22px !important}
.fs23 {font-size:23px !important}
.fs24 {font-size:24px !important}

/* align */
.tal {text-align:left;}
.tac {text-align:center;}
.tar {text-align:right;}

/* button */
.btn {position:relative;display:inline-block;cursor:pointer;background:#fff;border:1px solid #dcdfe6;line-height:1;white-space:nowrap;font-weight:500;-webkit-transition: .1s;-o-transition: .1s;transition: .1s;padding:12px 20px;font-size:14px;margin:0;min-width:100px;}
.btn:active {top:1px;left:1px;}
.btn:hover{color:#409eff;border-color:#c6e2ff;background-color:#ecf5ff;}

.btn.size-sm {min-width:80px;}
.btn.size-mid {min-width:160px;}
.btn.size-lg {min-width:200px;}
.btn.size-wide {min-width:100%;}

.btn.btn-disabled {background-color: #fff;border-color: #ebeef5;color: #c0c4cc;}
.btn.bg-primary{background:#409eff;border-color:#409eff;color:#fff;}
.btn.bg-primary:hover {background: #66b1ff;border-color: #66b1ff;}
.btn.bg-primary.btn-disabled {background: #66b1ff;border-color: #66b1ff;}
.btn.bg-success{background:#67c23a;border-color:#67c23a;color:#fff;}
.btn.bg-success:hover {background: #85ce61;border-color: #85ce61;}
.btn.bg-success.btn-disabled {background: #85ce61;border-color: #85ce61;}
.btn.bg-info{background:#909399;border-color:#909399;color:#fff;}
.btn.bg-info:hover{background:#a6a9ad;border-color:#a6a9ad;}
.btn.bg-info.btn-disabled {background:#a6a9ad;border-color:#a6a9ad;}
.btn.bg-warning{background:#e6a23c;border-color:#e6a23c;color:#fff;}
.btn.bg-warning:hover {background:#ebb563;border-color:#ebb563;}
.btn.bg-warning.btn-disabled {background:#ebb563;border-color:#ebb563;}
.btn.bg-danger{background:#f56c6c;border-color:#f56c6c;color:#fff;}
.btn.bg-danger:hover {background:#f78989;border-color:#f78989;}
.btn.bg-danger.btn-disabled {background:#f78989;border-color:#f78989;}
.btn-disabled{cursor: not-allowed;}
.btn-disabled:active{top:0;left:0;}

.btn.btn-round {border-radius:20px;}

/* float layout */
.row:after {content:'';clear:both;display:block;}
.row .column {float:left;}
.row .column.n1 {width:100%;}
.row .column.n2 {width:50%;}
.row .column.n3 {width:calc(100% / 3)}
.row .column.n4 {width:25%;}
.row .column.n5 {width:20%}
.row + .row {margin-top:1px;}

/* margin */
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.ml40 {margin-left:40px !important;}
.ml50 {margin-left:50px !important;}

.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}
.mr40 {margin-right:40px !important;}
.mr50 {margin-right:50px !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}

/* padding */
.pt0 {padding-top:0 !important;}
.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.pt40 {padding-top:40px !important;}
.pt50 {padding-top:50px !important;}

.pl0 {padding-left:0 !important;}
.pl10 {padding-left:10px !important;}
.pl20 {padding-left:20px !important;}
.pl30 {padding-left:30px !important;}
.pl40 {padding-left:40px !important;}
.pl50 {padding-left:50px !important;}

.pr0 {padding-right:0 !important;}
.pr10 {padding-right:10px !important;}
.pr20 {padding-right:20px !important;}
.pr30 {padding-right:30px !important;}
.pr40 {padding-right:40px !important;}
.pr50 {padding-right:50px !important;}

.pb0 {padding-bottom:0 !important;}
.pb10 {padding-bottom:10px !important;}
.pb20 {padding-bottom:20px !important;}
.pb30 {padding-bottom:30px !important;}
.pb40 {padding-bottom:40px !important;}
.pb50 {padding-bottom:50px !important;}

/* icons */
.icon {position:relative;display:inline-block;vertical-align:top;width:24px;height:24px;}
.icon.icon-bugger-white {background:url('../images/icons/icon-bugger-white.png') center center/contain no-repeat}
.icon.icon-cross-white {background:url('../images/icons/icon-cross-white.png') center center/contain no-repeat}
.icon.icon-warring-red {background:url('../images/icons/icon-warring-red.png') center center/contain no-repeat}
.icon.icon-reply-blue {background:url('../images/icons/icon-reply-blue.png') center center/contain no-repeat}
.icon.icon-circle-up-arrow-white {background:url('../images/icons/icon-circle-up-arrow-white.png') center center/contain no-repeat}
.icon.icon-required-green {background:url('../images/icons/icon-required-green.png') center center/contain no-repeat}
.icon.icon-checked-green {background:url('../images/icons/icon-checked-green.png') center center/contain no-repeat}
.icon.icon-link-dark-grey-circle {background:url('../images/icons/icon-link-dark-grey-circle.png') center center/contain no-repeat}
.icon.icon-f12key-white {background:url('../images/icons/icon-f12key-white-bg.png') center center/contain no-repeat}

/* code */
.colorscripter-code {font-size:.7rem;}

/* animation */

@-webkit-keyframes sliding {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0)}
}
@keyframes sliding {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0)}
}

@-webkit-keyframes callBell{
    0% ,4%, 12%, 20% {transform: rotate(5deg)}
    2%,8%, 16%, 24% {transform: rotate(-5deg)}
    37% {transform: rotate(0)}
}

@keyframes callBell {
    0% ,4%, 12%, 20% {transform: rotate(5deg)}
    2%,8%, 16%, 24%{transform: rotate(-5deg)}
    37% {transform: rotate(0)}
}
@-webkit-keyframes fadeIn {
    0%{opacity:0;visibility:hidden}
    100%{opacity:1;visibility:visible}
}
@keyframes fadeIn {
    0%{opacity:0;visibility:hidden}
    100%{opacity:1;visibility:visible}
}

@-webkit-keyframes fadeOut {
    0%{opacity:1;visibility:visible}
    100%{opacity:0;visibility:hidden}
}

@keyframes fadeOut {
    0%{opacity:1;visibility:visible}
    100%{opacity:0;visibility:hidden}
}