@charset "utf-8";

.section{font-size:.7rem;}

/* column layout */
.flex-wrap {display:flex;justify-content: space-between}
.flex-wrap .n2{width:50%;}

/* box design */
blockquote.box-design {border:1px solid #ddd;background:#f6f6f6;padding:16px;line-height:1.4}

.theme-dark blockquote.box-design {border:1px solid #333;background:#505050;color:#ddd;}

/* list count */
.count-wrap {position:absolute;top:50%;right:0;transform: translateY(-50%);font-size:.6rem;color: #787878;}

/* loading-bar */
.loading-bar {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8);display:flex;align-items: center;justify-content: center;z-index:100;}
.loading-bar > svg {width:60px;height:60px;}

/* overlay nav */
.overlay-nav-wrap {position:fixed;top:0;left:0;width:100%;max-width: 300px;height:100vh;background:#323232;transform: translateX(-100%);transition: transform .3s ease-in-out;z-index:100;font-size:.8rem}
.overlay-nav-wrap.is-on {transform: translateX(0);transition: transform .1s ease-out;box-shadow:10px 10px 10px rgba(0,0,0,.3);}
.overlay-nav-wrap .nav-head {position:relative;padding:16px 60px 16px 10px;background: #ff522b}
.overlay-nav-wrap .nav-head > .title {font-size:20px;line-height:1;margin:0;color:#fff;}
.overlay-nav-wrap .nav-head > button {position :absolute;top:50%;right:0;transform: translateY(-50%);padding:16px;}
.overlay-nav-wrap .nav-body {padding:10px 20px 10px 10px;height:calc(100vh - 52px);overflow:hidden;overflow-y:auto;}
.overlay-nav-wrap .nav-body .nav-group-title {position:relative;line-height:20px;}
.overlay-nav-wrap .nav-body li > a {display:block;color:#ddd;}
.overlay-nav-wrap .nav-body > li {padding: 10px 0;border-bottom: 1px dotted #6e6e6e;}
.overlay-nav-wrap .nav-body .toggle-box li + li {margin-top:10px;}
.overlay-nav-wrap .nav-body .toggle-box.is-show{margin-top:20px;background:#444;padding:10px;font-size:.7rem;}
.overlay-nav-wrap .nav-body .icon-checked-green {width:20px;height:20px;margin-right:10px;}

.overlay-nav-open-btn,
.overlay-nav-close-btn {position:relative;background:transparent;border:0;padding:0;}
.overlay-nav-open-btn:before {content:'백틱 토글';position:absolute;top:0;min-width:30px;left:100%;margin-left:14px;padding:8px;background: #ff522b;color:#fff;line-height:1.1;border-radius:10px;animation: callBell 1s ease-in-out infinite;}
.overlay-nav-open-btn:after {content:'';position:absolute;top:10px;left:100%;width:0;height:0;margin-left:6px;border-top: 5px solid transparent;border-right: 10px solid #ff522b;border-bottom: 5px solid transparent}
.overlay-nav-open-btn .icon{width:24px;height:24px;}
.overlay-nav-close-btn .icon{width:20px;height:20px;}

/* popup */
.popup-wrap {display:none;position:fixed;top:0;left:0;width:100%;height:100%;align-items: center;justify-content: center;z-index:99;}
.popup-wrap.is-on {display:block;}
.popup-wrap.is-on .popup {position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);z-index:2;background:#fff;min-width:320px;}
.popup-wrap .inner {position:relative}
.popup-wrap .pop-head {background:#4eadff}
.popup-wrap .pop-head .inner {padding:1rem 2.2rem 1rem 1rem;}
.popup-wrap .pop-head .title {display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;max-height:69px;overflow:hidden;}
.popup-wrap .pop-head .pop-head-close-btn {position:absolute;top:50%;right:10px;transform: translateY(-50%);padding:8px;background:transparent;border:0;}
.popup-wrap .pop-body .inner {padding:1rem;}
.popup-wrap .pop-body .inner {padding:1rem;font-size:.9rem;line-height:1.2;color:#000;}
.popup-wrap .pop-foot .inner {padding:.5rem 1rem;font-size:0;line-height:1;text-align:center;}
.popup-wrap .pop-foot .inner button + button {margin-left:5px;}
.popup-wrap .dimmed{z-index:1}
@media (max-width:768px) {
    .popup-wrap.is-wide .popup{position:relative;top:0;left:0;transform: translate(0, 0);width:100%;height:100vh;}
    .popup-wrap.is-wide .popup > .inner {height:100%;}
    .popup-wrap.is-wide .popup .pop-body {height:100%;max-height:calc(100% - 170px);overflow:hidden;overflow-y:auto;}
    .popup-wrap.is-wide .popup .pop-body .inner {height:100%;}
}

/* boxs */
.reply-box {position:relative;display:inline-block;padding:10px 10px 10px 15px;border-radius:5px;font-size:14px;line-height:20px;color:#000;background: #bee0ff;}
.reply-box:after {content:"";position:absolute;top:0;left:0;width:5px;height:100%;border-radius:5px 0 0 5px;background: #009dfc;}
.reply-box .icon {width:20px;height:20px;margin-right:5px;}
.warning {background: #ffd1d1;}
.warning:after {background:#f70000;}
.plus-desc {background: #d1ffda;}
.plus-desc:after {background: #00ad03;}

/* table set */
.table-wrap > table {table-layout: fixed;width:100%;border-top:1px solid #ddd;font-size:.7rem;}
.table-wrap > table thead {position:sticky;top:0;z-index:2;}
.table-wrap > table th {padding:20px 5px;border-bottom:1px solid #ddd;background:#ddd}
.table-wrap > table td {padding:20px 5px;vertical-align: middle;border-bottom:1px solid #ddd;line-height:1.4;}
.table-wrap .disabled > td {color:#666;background:#999;}

.theme-dark .table-wrap > table,
.theme-dark .table-wrap > table th ,
.theme-dark .table-wrap > table td {border-color:#333;}
.theme-dark .table-wrap > table th {background:#505050;}
.theme-dark .table-wrap .disabled > td {color:#888;background:#777;}
.theme-dark .table-wrap .disabled > td > span,
.theme-dark .table-wrap .disabled > td > strong,
.theme-dark .table-wrap .disabled > td > em,
.theme-dark .table-wrap .disabled > td > p {color:inherit;}

/* scroll wrap */
.scroll-x-wrap {overflow:hidden;overflow-x: auto;}
.scroll-x-wrap > table {min-width:1024px;}

.scroll-top-wrap {position:fixed;bottom:100px;left:50%;transform: translateX(-50%);z-index:-1;opacity:0;transition: opacity .3s linear}
.scroll-top-wrap.is-on {opacity:1;transition: opacity .3s linear;z-index:10;}
.scroll-top-wrap > button {background: transparent;border:0;font-size:.7rem;line-height:18px;font-weight:800}
.scroll-top-wrap > button >.icon {width:18px;height:18px;margin-left:5px;}

/* main key visual slide */
.key-visual-swiper {position:relative;width: 100%;}
.key-visual-swiper .swiper-slide {position:relative;}
.key-visual-swiper .swiper-slide .type-title {position:absolute;bottom:0;right:10px;font-size:5rem;z-index:3;}
.key-visual-swiper .swiper-slide .desc-box {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);max-width:80%;font-size:1rem;margin:0;}
.key-visual-swiper .swiper-slide .desc-title {font-size:2rem;font-weight: 800;line-height:1;}
.key-visual-swiper .swiper-slide .desc {font-size:.8rem;line-height:1.2;}
.key-visual-swiper .swiper-slide .desc-list {font-size:.8rem;line-height:1.2;}
.key-visual-swiper .swiper-slide .desc-list li + li {margin-top:5px;}
.key-visual-swiper .swiper-slide {height:420px;}
.key-visual-swiper .js-slide {position:relative;background: rgb(255, 217, 0);color:#333;background:url('../images/javascript-visual-bg.jpg') center 30%/cover no-repeat;}
.key-visual-swiper .js-slide > .desc {}
.key-visual-swiper .js-slide > .desc,
.key-visual-swiper .js-slide > .desc-list{color:#333;}
.key-visual-swiper .html-slide {background: #007bff;color:#fff;}
.key-visual-swiper .html-slide > .desc,
.key-visual-swiper .html-slide > .desc-list {color:#fff;}
.key-visual-swiper .css-slide {background: #24682a;color:#fff;}
.key-visual-swiper .css-slide > .desc,
.key-visual-swiper .css-slide > .desc-list {color:#fff;}
.key-visual-swiper .comming-soon {position:absolute;top:0;left:0;width:100%;height:100%;display:flex;align-items:center;justify-content:center;background: rgba(0,0,0,.8);font-size:2rem;font-weight:800;color:#999;line-height:1;padding:0 2rem;word-break:break-all;z-index:2}
.key-visual-swiper .swiper-button-next,
.key-visual-swiper .swiper-button-prev {background:transparent;width:44px;border-radius:50%;transition: background-color .3s}
.key-visual-swiper .swiper-button-next:hover,
.key-visual-swiper .swiper-button-prev:hover {background:#333;transition: background-color .3s}
.key-visual-swiper .swiper-button-next::after,
.key-visual-swiper .swiper-button-prev::after {font-size:20px;font-weight:800;}
.key-visual-swiper .swiper-pagination-bullet {width:16px;border-radius:4px;transition: width .3s}
.key-visual-swiper .swiper-pagination-bullet-active {width:32px;border-radius:4px;transition: width .3s}

:root {--swiper-theme-color: #ffffff !important;}